[mysqld]
default-character-set = utf8
datadir=/var/data/db
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysql]
default-character-set = utf8

[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid

